$(document).ready(function(){
    var script = document.createElement('script');
    script.src = "//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.0.0/bootbox.min.js";
    document.getElementsByTagName('body')[0].appendChild(script);

})

function easy_store(store,name,callback){
    var trigger="<button class=\'btn btn-primary btn-sm pull-right\' id='store-modal'>Launch "+name+" Store</button>";
    $('#'+callback).append(trigger+"<script>$('#store-modal').click(function(){$.ajax({url:'/stores/"+store+".js'});});</script>");
}
